/*============================== FONTS ==============================*/
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

/*============================== VARIABLES CSS ==============================*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	--hue-color: 210;

	/* HSL color mode */
	--first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-second: hsl(var(--hue-color), 69%, 61%);
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 70%);
	--input-color: hsl(var(--hue-color), 50%, 95%);
	--body-color: hsl(var(--hue-color), 30%, 88%);
	--container-color: var(--quite-white);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

	--quite-white: hsl(210, 17%, 92%);

	/*========== Font and typography ==========*/
	--body-font: "Montserrat", sans-serif;

	--title-font-size: 3.75rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-semi-bold: 500;
	--font-bold: 700;
	--font-black: 900;

	/*========== z-index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
	/* HSL color mode */
	--first-color-second: hsl(var(--hue-color), 30%, 8%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 75%);
	--input-color: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 40%, 11%);
	--container-color: hsl(var(--hue-color), 29%, 16%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 35%);
}

/*========== Button Dark/Light ==========*/
.nav__btns {
	display: flex;
	align-items: center;
}

.change-theme {
	font-size: 1.25rem;
	color: var(--title-color);
	margin-right: 1rem;
	cursor: pointer;
}

.change-theme:hover {
	color: var(--first-color);
}


/*============================== GENERAL STUFF ==============================*/
*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	
	font-family: var(--body-font);
	font-weight: var(--font-regular);
	font-size: var(--normal-font-size);
	color: var(--text-color);
	background-color: var(--body-color);
}

h1, h2, h3, h4 {
	color: var(--text-color);
	font-weight: var(--font-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/*============================== REUSABLE CSS CLASSES ==============================*/
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h1-font-size);
}

.section__subtitle {
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
	text-align: center;
}

/*============================== LAYOUT ==============================*/
.container {
	max-width: 768px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
}

/*============================== NAVIGATION ==============================*/
.nav {
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo,
.nav__toggle {
	color: var(--title-color);
	font-weight: var(--font-regular);
}

.nav__logo:hover {
	/* color: var(--first-color); */
	cursor: default;
}

.nav__toggle {
	font-size: 1.1rem;
	cursor: pointer;
}

.nav__toggle:hover {
	color: var(--first-color);
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: var(--body-color);
		padding: 2rem 1.5rem 4rem;
		border-radius: 1.5rem 1.5rem 0 0;
		transition: .3s;
	}
	
}

.nav__list {
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--small-font-size);
	font-weight: var(--font-regular);
}

.nav__link:hover {
	color: var(--first-color)
}

.nav__icon {
	font-size: 1.2rem;
}

.nav__close {
	position: absolute;
	right: 1.3rem;
	bottom: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--first-color)
}

.nav__close:hover {
	color: var(--first-color-alt);
}

.show-menu {
	bottom: 0;
}

.active-link {
	color: var(--first-color);
}

/*=================================== MAIN ===================================*/

/*==================== HOME ====================*/
.home__container {
	gap: 1rem;
	margin: 0 2.5rem;
}

.home__content {
	grid-template-columns: 1fr;
	gap: 2.25rem 0;
	padding-top: 4rem;
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--text-color);
	font-weight: var(--font-semi-bold);
}

.home__subtitle span.mention {
	color: var(--first-color);
}

.home__title {
	font-size: var(--title-font-size);
	font-weight: var(--font-black);
}

.home__description {
	margin-top: .25rem;
	margin-bottom: 2rem;
}

.home__button:hover .button__icon {
	transform: translateY(3px);
	transition: .3s;
}

.home__rrss {
	display: flex;
	column-gap: 1.5rem;
}

.home__rrss-logo {
	font-size: 2.25rem;
	color: var(--first-color);
}

.home__rrss-logo:hover {
	color: var(--first-color-alt);
}

/*==================== BUTTONS ====================*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: var(--quite-white);
	padding: 1rem;
	border-radius: .5rem;
	font-weight: var(--font-regular);
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button__icon {
	font-size: 1.25rem;
	margin-left: .5rem;
}

.button--flex {
	display: inline-flex;
	align-items: center;
}

/*==================== ABOUT ====================*/
.about__img {
	width: 200px;
	border-radius: .5rem;
	justify-self: center;
	align-self: center;
}

.about__description {
	text-align: center;
	margin-bottom: 2.5rem;
}

.about__info {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2.5rem;
}

/*==================== SKILLS ====================*/
.skills__container {
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: 1.25rem;
}

.skills__data {
	background-color: var(--input-color);
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
	align-items: center;
	padding: 1.5rem;
}

.skills__img {
	width: 75px;
	aspect-ratio: 1 / 1 ;
	margin: auto;
}

.skills__title {
	font-size: .8rem;
	text-align: center;
}

/*==================== PROJECTS ====================*/
.projects__container {
	overflow: initial;
}

.projects__content {
	padding: 0 1.5rem;
}

.projects__img {
	width: 265px;
	border-radius: .5rem;
	justify-self: center;
}

.projects__title {
	font-size: var(--h3-font-size);
	margin-bottom: .5rem;
}

.projects__description {
	margin-bottom: .75rem;
}

.projects__button:hover button__icon {
	transform: scale(1.1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
	content: "";
}

.swiper-projects-icon {
	font-size: 2rem;
	color: var(--first-color)
}

.swiper-button-prev {
	left: -.5rem;
}

.swiper-button-next {
	right: -.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets {
	bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
	background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
	outline: none;
}

/*==================== CONTACT ====================*/
.contact__container {
	row-gap: 3rem;
}

.contact__information {
	display: flex;
	margin-bottom: 2rem;
}

.contact__icon {
	font-size: 2rem;
	color: var(--first-color);
	margin-right: .75rem;
}

.contact__title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-regular);
}

.contact__subtitle {
	font-size: var(--small-font-size);
	color: var(--text-color-light);
}

.contact__content {
	background-color: var(--input-color);
	border-radius: .5rem;
	padding: .75rem 1rem .25rem;
}

.contact__label {
	font-size: var(--smaller-font-size);
	color: var(--title-color);
}

.contact__input {
	width: 100%;
	background-color: var(--input-color);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	border: none;
	outline: none;
	padding: .25rem .5rem .5rem 0;
}

textarea.contact__input {
	resize: vertical;
	max-height: 25rem;
}

/*==================== FOOTER ====================*/

.footer {
	padding-top: 2rem;
}

.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer__bg {
	background-color: var(--first-color-second);
	padding: 2rem 0 3rem;
}

.footer__title {
	font-size: var(--h1-font-size);
	margin-bottom: .25rem;
}

.footer__subtitle {
	font-size: var(--small-font-size);
}

.footer__links {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.footer__link:hover {
	color: var(--first-color-lighter);
}

.footer__socials {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.footer__social {
	font-size: 2rem;
	margin-right: 1.5rem;
}

.footer__social:last-of-type {
	margin-right: 0;
}

.footer__social:hover {
	color: var(--first-color-lighter);
}

.footer__copy {
	font-size: var(--smaller-font-size);
	text-align: center;
	color: var(--text-color-light);
	margin-top: 1.5rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
	color: var(--quite-white);
}

/*=============== SCROLL UP ===============*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	opacity: .8;
	padding: 0 .2rem;
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	transition: .4s;
}

.scrollup:hover {
	background-color: var(--first-color-alt);
	transform: translateY(-5px);
}

.scrollup__icon {
	font-size: 1.75rem;
	color: var(--quite-white);
}

.show-scroll {
	bottom: 4rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	width: .65rem;
	background-color: var(--scroll-bar-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
}

/*============================== MEDIA QUERIES ==============================*/
/* Small devices */
@media screen and (max-width: 350px) {
	.container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.nav__menu {
		padding: 2rem .25rem 4rem;
	}
	.nav__list {
		column-gap: 0;
	}

	.skills__data {
		padding: 1rem;
	}
}

/* Medium devices */
@media screen and (min-width: 568px) {
	:root {
		--title-font-size: 5.5rem;
	}

	.home__container {
		margin: 0 4.5rem;
	}
	.home__content {
		gap: 2.5rem 0;
		padding-top: 5rem;
	}
	.home__subtitle {
		font-size: 1.25rem;
	}
	.home__description {
		font-size: 1rem;
	}
	.home__rrss {
		column-gap: 2rem;
	}
	.home__rrss-logo {
		font-size: 2.75rem;
	}

	.about__container,
	.projects__content,
	.contact__container {
		grid-template-columns: repeat(2, 1fr);
	}

	.skills__container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 768px) {
	:root {
		--title-font-size: 6rem;
	}
	
	.container {
		margin-left: auto;
		margin-right: auto;
	}

	body {
		margin: 0;
	}

	.section {
		padding: 6rem 0 2rem;
	}
	.section__subtitle {
		margin-bottom: 4rem;
	}

	.header {
		top: 0;
		bottom: initial;
	}

	.header,
	.main,
	.footer__container {
		padding: 0 1rem;
	}

	.nav {
		height: calc(var(--header-height) + 1rem);
		column-gap: 1rem;
	}
	.nav__icon,
	.nav__close,
	.nav__toggle {
		display: none;
	}
	.nav__list {
		display: flex;
		column-gap: 2rem;
	}
	.nav__menu {
		margin-left: auto;
	}
	.change-theme {
		margin: 0;
		margin-left: .5rem;
	}

	.home__container {
		padding-left: 6rem;
	}
	.home__content {
		gap: 2.75rem 0;
		padding-top: 7rem;
	}
	.home__rrss {
		column-gap: 2.25rem;
	}
	.home__rrss-logo {
		font-size: 3rem;
	}

	.about__container {
		column-gap: 5rem;
	}
	.about__img {
		width: 350px;
	}
	.about__description {
		text-align: initial;
	}
	.about__info {
		justify-content: space-between;
	}

	.skills__container {
		grid-template-columns: repeat(4, 1fr);
	}

	.projects__img {
		width: 320px;
	}

	.show-scroll {
		bottom: 1rem;
	}
}

@media screen and (min-width: 968px) {
	:root {
		--title-font-size: 7rem;
	}

	.home__container {
		padding-left: 0;
	}
	.home__content {
		gap: 3rem 0;
	}
	.home__subtitle {
		font-size: 1.5rem;
	}
	.home__description {
		font-size: 1.125rem;
	}
	.home__rrss {
		column-gap: 2.5rem;
	}
	.home__rrss-logo {
		font-size: 3.25rem;
	}
}

/* Large devices */
@media screen and (min-width: 1024px) {
	.header,
	.main,
	.footer__container {
		padding: 0;
	}

	.skills__img {
		width: 100px;
	}

	.skills__title {
		font-size: var(--normal-font-size);
	}

	.projects__content {
		column-gap: 4rem;
	}
	.swiper-projects-icon {
		font-size: 3.5rem;
	}
	.swiper-button-prev {
		left: -3.5rem;
	}
	.swiper-button-next {
		right: -3.5rem;
	}
	.swiper-horizontal > .swiper-pagination-bullets {
		bottom: -3.5rem;
	}

	.contact__form {
		width: 460px;
	}
}