@import url('general-sans.css');

:root {
    --text-color: white;
    --hover-color: lightgrey;

    --bg-color: #0d0d0e;
    --nav-color: rgba(44, 44, 48, .75);
    --box-color: hsla(225, 6%, 12%, 0.65);
    --card-color: rgb(23, 23, 23);

    --purple: hsla(274, 80%, 72%, .5);
    --blue: hsla(235, 80%, 72%, .5);
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-family: 'GeneralSans-Variable', Helvetica, Arial,  sans-serif;
    font-size: 1rem;
    font-variation-settings: 'wght' 450.0;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow: hidden;
}

.home::before {
    content: url("../imgs/logo-picu.svg");
    position: absolute;
    inset: 0;
    margin: auto;
    width: 512px;
    height: 320px;
    transform: translateY(-65%) scale(.75);
    filter: opacity(.1) blur(15px);
    z-index: -1;
}

.home--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home--container::before, .home--container::after {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 512px;
    height: 320px;
    filter: saturate(1.8) blur(6rem);
    z-index: -1;
}

.home--container::before, .home--container::after {
    animation: hue-rotate-rainbow 10s infinite;
    animation-delay: 1s;
}

@keyframes hue-rotate-rainbow {
    100% {
        filter: saturate(1.8) blur(6rem) hue-rotate(360deg);
    }
}

.home--container::before {
    content: url("../imgs/luz-roja.svg");
    transform: translate(-220%, 120%) scale(1.5);
}

.home--container::after {
    content: url("../imgs/luz-morada.svg");
    transform: translate(140%, -130%) scale(1.6);
}

.home__title {
    font-size: 3rem;
    font-variation-settings: 'wght' 700.0;
    line-height: 3rem;
    padding-top: 3rem;
}

.home__advice {
    font-size: 3rem;
    font-variation-settings: 'wght' 600.0;
    line-height: 3rem;
    margin-top: 1rem;
}

.home__social-network {
    margin-top: 2rem;
}

.home__social-network ul {
    list-style: none;
    line-height: 0;
    font-size: 6rem;
    display: flex;
    gap: 1.75rem;
}

.home__social-network .link {
    color: var(--text-color);
    line-height: 0;
    transition: color .3s;
}

.home__social-network .link:hover {
    color: var(--hover-color);
    transition: color .3s;
}
